<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>锡林郭勒日报</string>
		<key>sid</key>
		<string>xlh</string>
		<key>hurl</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>曲靖日报</string>
		<key>sid</key>
		<string>qjrb</string>
		<key>hurl</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>丽江日报</string>
		<key>sid</key>
		<string>ljfb</string>
		<key>hurl</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>今日邓州</string>
		<key>sid</key>
		<string>jrdz</string>
		<key>hurl</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>团结报</string>
		<key>sid</key>
		<string>tjb</string>
		<key>hurl</key>
		<string>http://paper.tuanjiewang.cn/tjb/h5/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>中卫日报</string>
		<key>sid</key>
		<string>zwrb</string>
		<key>hurl</key>
		<string>http://124.224.204.62:8081/szb/pad/index.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>胜利日报</string>
		<key>sid</key>
		<string>slrb</string>
		<key>hurl</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>今日汝州</string>
		<key>sid</key>
		<string>jrrz</string>
		<key>hurl</key>
		<string>http://jrrz.ruzhounews.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>宝坻报</string>
		<key>sid</key>
		<string>bdxw</string>
		<key>hurl</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>河南日报</string>
		<key>sid</key>
		<string>hnrb</string>
		<key>hurl</key>
		<string>http://dzb.henandaily.cn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天津日报</string>
		<key>sid</key>
		<string>tjrb</string>
		<key>hurl</key>
		<string>http://epaper.tianjinwe.com/tjrb/h5/paperindex.htm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>重庆日报</string>
		<key>sid</key>
		<string>cqrb</string>
		<key>hurl</key>
		<string>http://m.cqrb.cn/paper/cqrb/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>浙江日报</string>
		<key>sid</key>
		<string>zjrb</string>
		<key>hurl</key>
		<string>https://mepaper.zjol.com.cn/szb/zjrb_hd.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>云南日报</string>
		<key>sid</key>
		<string>ynrb</string>
		<key>hurl</key>
		<string>https://www.cnepaper.com/h5/ynrb/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>四川日报</string>
		<key>sid</key>
		<string>scrb</string>
		<key>hurl</key>
		<string>https://4g.scdaily.cn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>青海日报</string>
		<key>sid</key>
		<string>qhrb</string>
		<key>hurl</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>新疆日报</string>
		<key>sid</key>
		<string>xjrb</string>
		<key>hurl</key>
		<string>http://wap.xjdaily.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>辽宁日报</string>
		<key>sid</key>
		<string>lnrb</string>
		<key>hurl</key>
		<string>http://epaper.lnd.com.cn/lnrbindex.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>海南日报</string>
		<key>sid</key>
		<string>hnrb</string>
		<key>hurl</key>
		<string>http://hnrb.hinews.cn/h5/paperindex.htm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>黄山日报</string>
		<key>sid</key>
		<string>hsrb</string>
		<key>hurl</key>
		<string>http://www.hsdaily.cn/h5/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>毕节日报</string>
		<key>sid</key>
		<string>bjrb</string>
		<key>hurl</key>
		<string>http://cnepaper.com/bjrb/h5/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>怀化日报</string>
		<key>sid</key>
		<string>hhrb</string>
		<key>hurl</key>
		<string>http://paper.0745news.cn/hhrbpad/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>常德日报</string>
		<key>sid</key>
		<string>cdrb</string>
		<key>hurl</key>
		<string>http://epaper.cdyee.com/indexforapp.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>迪庆日报</string>
		<key>sid</key>
		<string>dqrb</string>
		<key>hurl</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>邵阳日报</string>
		<key>sid</key>
		<string>syrb</string>
		<key>hurl</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>株洲日报</string>
		<key>sid</key>
		<string>zzrb</string>
		<key>hurl</key>
		<string>https://www.cnepaper.com/h5/zzrbs/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>荆门日报</string>
		<key>sid</key>
		<string>zmzx</string>
		<key>hurl</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>襄阳日报</string>
		<key>sid</key>
		<string>xyrb</string>
		<key>hurl</key>
		<string>https://www.cnepaper.com/h5/xyrb/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>运城日报</string>
		<key>sid</key>
		<string>ycxw</string>
		<key>hurl</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>六盘水日报</string>
		<key>sid</key>
		<string>jrld</string>
		<key>hurl</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>新青白江</string>
		<key>sid</key>
		<string>qbjrb</string>
		<key>hurl</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>荆州日报</string>
		<key>sid</key>
		<string>jzrb</string>
		<key>hurl</key>
		<string>http://news.cnchu.com/jzrb/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>长江日报</string>
		<key>sid</key>
		<string>cjrb</string>
		<key>hurl</key>
		<string>http://szb.cjn.cn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>惠州日报</string>
		<key>sid</key>
		<string>hzrb</string>
		<key>hurl</key>
		<string>http://e.hznews.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>汕头日报</string>
		<key>sid</key>
		<string>st</string>
		<key>hurl</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>湛江日报</string>
		<key>sid</key>
		<string>zjrb</string>
		<key>hurl</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>珠海特区报</string>
		<key>sid</key>
		<string>zhtqb</string>
		<key>hurl</key>
		<string>http://www.cnepaper.com/zhtqb/h5/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>清远日报</string>
		<key>sid</key>
		<string>qyrb</string>
		<key>hurl</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>佛山日报</string>
		<key>sid</key>
		<string>fsrb</string>
		<key>hurl</key>
		<string>http://epaper.fsonline.com.cn/fsrb/h5/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>阳江日报</string>
		<key>sid</key>
		<string>yjrb</string>
		<key>hurl</key>
		<string>https://yjdaily.yjrb.com.cn/mobile/index.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>红河日报</string>
		<key>sid</key>
		<string>hhrb</string>
		<key>hurl</key>
		<string>https://www.cnepaper.com/hhrb/h5/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>潮州日报</string>
		<key>sid</key>
		<string>czrb</string>
		<key>hurl</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>河源日报</string>
		<key>sid</key>
		<string>hyrb</string>
		<key>hurl</key>
		<string>https://www.cnepaper.com/hyrbs/h5/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>梅州日报</string>
		<key>sid</key>
		<string>mzrb</string>
		<key>hurl</key>
		<string>http://mzrbh5.meizhou.cn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>阜阳日报</string>
		<key>sid</key>
		<string>fyrb</string>
		<key>hurl</key>
		<string>https://www.cnepaper.com/h5/fyrb/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>南方日报</string>
		<key>sid</key>
		<string>nfrb</string>
		<key>hurl</key>
		<string>https://www.cnepaper.com/h5/nfrb/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>解放日报</string>
		<key>sid</key>
		<string>jfrb</string>
		<key>hurl</key>
		<string>https://www.cnepaper.com/h5/jfrb/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>吉林日报</string>
		<key>sid</key>
		<string>jlrb</string>
		<key>hurl</key>
		<string>https://www.cnepaper.com/h5/jlrb/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陇南日报</string>
		<key>sid</key>
		<string>lnrb</string>
		<key>hurl</key>
		<string>https://www.cnepaper.com/h5/lnrb/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>沈阳日报</string>
		<key>sid</key>
		<string>syrb</string>
		<key>hurl</key>
		<string>https://www.cnepaper.com/h5/syrb/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>枣庄日报</string>
		<key>sid</key>
		<string>zzrb</string>
		<key>hurl</key>
		<string>https://www.cnepaper.com/h5/zzrb/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>恩施日报</string>
		<key>sid</key>
		<string>esrb</string>
		<key>hurl</key>
		<string>https://www.cnepaper.com/h5/esrb/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>咸宁日报</string>
		<key>sid</key>
		<string>xnrb</string>
		<key>hurl</key>
		<string>https://www.cnepaper.com/h5/xnrb/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>孝感日报</string>
		<key>sid</key>
		<string>xgrb</string>
		<key>hurl</key>
		<string>https://www.cnepaper.com/h5/xgrb/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>黄冈日报</string>
		<key>sid</key>
		<string>hgrb</string>
		<key>hurl</key>
		<string>https://www.cnepaper.com/h5/hgrb/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>焦作日报</string>
		<key>sid</key>
		<string>jzrb</string>
		<key>hurl</key>
		<string>https://www.cnepaper.com/h5/jzrb/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>杭州日报</string>
		<key>sid</key>
		<string>hzrb</string>
		<key>hurl</key>
		<string>https://www.cnepaper.com/h5/hzrb/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>镇江日报</string>
		<key>sid</key>
		<string>zjrb</string>
		<key>hurl</key>
		<string>https://www.cnepaper.com/h5/zjrb/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>商丘日报</string>
		<key>sid</key>
		<string>sqrb</string>
		<key>hurl</key>
		<string>https://www.cnepaper.com/h5/sqrb/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>南阳日报</string>
		<key>sid</key>
		<string>nyrb</string>
		<key>hurl</key>
		<string>https://www.cnepaper.com/h5/nyrb/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>宣城日报</string>
		<key>sid</key>
		<string>xcrb</string>
		<key>hurl</key>
		<string>https://www.cnepaper.com/h5/xcrb/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>浏阳日报</string>
		<key>sid</key>
		<string>lyrb</string>
		<key>hurl</key>
		<string>https://www.cnepaper.com/h5/lyrb/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>保定日报</string>
		<key>sid</key>
		<string>bdrb</string>
		<key>hurl</key>
		<string>https://www.cnepaper.com/h5/bdrb/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>泰安日报</string>
		<key>sid</key>
		<string>tarb</string>
		<key>hurl</key>
		<string>https://www.cnepaper.com/h5/tarb/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>德阳日报</string>
		<key>sid</key>
		<string>dyrb</string>
		<key>hurl</key>
		<string>https://www.cnepaper.com/h5/dyrb/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>江西日报</string>
		<key>sid</key>
		<string>jxrb</string>
		<key>hurl</key>
		<string>https://www.cnepaper.com/h5/jxrb/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>衢州日报</string>
		<key>sid</key>
		<string>qzrb</string>
		<key>hurl</key>
		<string>https://www.cnepaper.com/h5/qzrb/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>宁波日报</string>
		<key>sid</key>
		<string>nbrb</string>
		<key>hurl</key>
		<string>https://www.cnepaper.com/h5/nbrb/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>无锡日报</string>
		<key>sid</key>
		<string>wxrb</string>
		<key>hurl</key>
		<string>https://www.cnepaper.com/h5/wxrb/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>上饶日报</string>
		<key>sid</key>
		<string>srrb</string>
		<key>hurl</key>
		<string>https://www.cnepaper.com/h5/srrb/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>南昌日报</string>
		<key>sid</key>
		<string>ncrb</string>
		<key>hurl</key>
		<string>https://www.cnepaper.com/h5/ncrb/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>闽西日报</string>
		<key>sid</key>
		<string>mxrb</string>
		<key>hurl</key>
		<string>https://www.cnepaper.com/h5/mxrb/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>闽南日报</string>
		<key>sid</key>
		<string>mnrb</string>
		<key>hurl</key>
		<string>https://www.cnepaper.com/h5/mnrb/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>闽北日报</string>
		<key>sid</key>
		<string>mbrb</string>
		<key>hurl</key>
		<string>https://www.cnepaper.com/h5/mbrb/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>大理日报</string>
		<key>sid</key>
		<string>dlrb</string>
		<key>hurl</key>
		<string>https://www.cnepaper.com/h5/dlrb/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>普洱日报</string>
		<key>sid</key>
		<string>perb</string>
		<key>hurl</key>
		<string>https://www.cnepaper.com/h5/perb/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>呼和浩特日报</string>
		<key>sid</key>
		<string>hhhtrb</string>
		<key>hurl</key>
		<string>https://www.cnepaper.com/h5/hhhtrb/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>榆林日报</string>
		<key>sid</key>
		<string>ylrb</string>
		<key>hurl</key>
		<string>https://www.cnepaper.com/h5/ylrb/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>右江日报</string>
		<key>sid</key>
		<string>bszx</string>
		<key>hurl</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>南宁日报</string>
		<key>sid</key>
		<string>nnrb</string>
		<key>hurl</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>唐山劳动日报</string>
		<key>sid</key>
		<string>tsldb</string>
		<key>hurl</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>菏泽日报</string>
		<key>sid</key>
		<string>hzrb</string>
		<key>hurl</key>
		<string>http://cnepaper.com/hzrb/h5/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>滨州日报</string>
		<key>sid</key>
		<string>bzrb</string>
		<key>hurl</key>
		<string>http://paper.bzrb.net:81/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>德州日报</string>
		<key>sid</key>
		<string>dzrb</string>
		<key>hurl</key>
		<string>http://dzb.dezhoudaily.com/wap/dzrb/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>临沂日报</string>
		<key>sid</key>
		<string>lyrb</string>
		<key>hurl</key>
		<string>http://lyrb.langya.cn/paper/pad/layout/index.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>吕梁日报</string>
		<key>sid</key>
		<string>llrb</string>
		<key>hurl</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>鹤岗日报</string>
		<key>sid</key>
		<string>hgtt</string>
		<key>hurl</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>双鸭山日报</string>
		<key>sid</key>
		<string>sysrb</string>
		<key>hurl</key>
		<string>http://www.shuangyashanshinews.cn/paper/pad/layout/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>宜春日报</string>
		<key>sid</key>
		<string>ycrb</string>
		<key>hurl</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>鹰潭日报</string>
		<key>sid</key>
		<string>ytrb</string>
		<key>hurl</key>
		<string>http://www.cnepaper.com/ytrb/h5/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>新余日报</string>
		<key>sid</key>
		<string>xyrb</string>
		<key>hurl</key>
		<string>http://www.newsxy.com/paper/xyrbweb/h5/paperindex.htm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>九江日报</string>
		<key>sid</key>
		<string>jjrb</string>
		<key>hurl</key>
		<string>http://www.jjcbw.com/Dzb/Jjrb/index.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>萍乡日报</string>
		<key>sid</key>
		<string>pxrb</string>
		<key>hurl</key>
		<string>http://cnepaper.com/px/h5/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>景德镇日报</string>
		<key>sid</key>
		<string>jdzrb</string>
		<key>hurl</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>丽水日报</string>
		<key>sid</key>
		<string>lsrb</string>
		<key>hurl</key>
		<string>https://cms.tmuyun.com/lsrb/szb/newlsrb_hd.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>台州日报</string>
		<key>sid</key>
		<string>tzrb</string>
		<key>hurl</key>
		<string>https://paper.taizhou.com.cn/taizhou/tzrb/wap/layout/index.html</string>
	</dict>
	<dict>
		<key>name</key>
		<string>金华日报</string>
		<key>sid</key>
		<string>jhrb</string>
		<key>hurl</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>绍兴日报</string>
		<key>sid</key>
		<string>sxrb</string>
		<key>hurl</key>
		<string>https://www.cnepaper.com/sxrb/epaper/h5/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>宿迁日报</string>
		<key>sid</key>
		<string>sqrb</string>
		<key>hurl</key>
		<string>http://mobile.epaper.routeryun.com/?appkey=110</string>
	</dict>
	<dict>
		<key>name</key>
		<string>盐阜大众报</string>
		<key>sid</key>
		<string>yfdzb</string>
		<key>hurl</key>
		<string>http://yfdzb.ycnews.cn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>闽东日报</string>
		<key>sid</key>
		<string>mdrb</string>
		<key>hurl</key>
		<string>http://cnepaper.com/mdrb/h5/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>福州日报</string>
		<key>sid</key>
		<string>fzrb</string>
		<key>hurl</key>
		<string>http://mag.fznews.com.cn/h5/fzrb/paperindex.htm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>芜湖日报</string>
		<key>sid</key>
		<string>whrb</string>
		<key>hurl</key>
		<string>http://epaper.wuhunews.cn/whrb/pad/layout/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>玉溪日报</string>
		<key>sid</key>
		<string>yxrb</string>
		<key>hurl</key>
		<string>http://e.yuxi.cn/epaper/yxm/html/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>贵阳日报</string>
		<key>sid</key>
		<string>gyrb</string>
		<key>hurl</key>
		<string>https://rb.gywb.cn/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>铜仁日报</string>
		<key>sid</key>
		<string>trrb</string>
		<key>hurl</key>
		<string>http://szb.trxw.gov.cn/epaper/uniflows/html/default.htm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>乐山日报</string>
		<key>sid</key>
		<string>lsrb</string>
		<key>hurl</key>
		<string>http://www.cnepaper.com/lsrb/h5/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>甘孜日报</string>
		<key>sid</key>
		<string>gzrb</string>
		<key>hurl</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>遂宁日报</string>
		<key>sid</key>
		<string>snrb</string>
		<key>hurl</key>
		<string>http://www.cnepaper.com/snrb/h5/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>达州日报</string>
		<key>sid</key>
		<string>dazhourb</string>
		<key>hurl</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>宜宾日报</string>
		<key>sid</key>
		<string>ybrb</string>
		<key>hurl</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>呼伦贝尔日报</string>
		<key>sid</key>
		<string>hlbrrb</string>
		<key>hurl</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>赤峰日报</string>
		<key>sid</key>
		<string>zscf</string>
		<key>hurl</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>西安日报</string>
		<key>sid</key>
		<string>xarb</string>
		<key>hurl</key>
		<string>http://app.xiancn.com/db_xarb/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陕西日报</string>
		<key>sid</key>
		<string>sxsrb</string>
		<key>hurl</key>
		<string>http://esb.sxdaily.com.cn/pcindex.jsp</string>
	</dict>
	<dict>
		<key>name</key>
		<string>商洛日报</string>
		<key>sid</key>
		<string>slrb</string>
		<key>hurl</key>
		<string>http://eslrb.slrbs.com/pcindex.jsp</string>
	</dict>
	<dict>
		<key>name</key>
		<string>宝鸡日报</string>
		<key>sid</key>
		<string>bjrb</string>
		<key>hurl</key>
		<string>http://www.baojidaily.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天水日报</string>
		<key>sid</key>
		<string>tsrb</string>
		<key>hurl</key>
		<string>http://dzb.tsrb.com.cn/phone1/tsrb/index.htm</string>
	</dict>
	<dict>
		<key>name</key>
		<string>嘉峪关日报</string>
		<key>sid</key>
		<string>jygrb</string>
		<key>hurl</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>嘉峪关日报</string>
		<key>sid</key>
		<string>jygrb</string>
		<key>hurl</key>
		<string></string>
	</dict>
</array>
</plist>
