<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>shi</key>
		<string>合肥</string>
		<key>city</key>
		<array>
			<string>肥西县</string>
			<string>瑶海区</string>
			<string>包河区</string>
			<string>肥东县</string>
			<string>庐阳区</string>
			<string>巢湖市</string>
			<string>蜀山区</string>
			<string>庐江县</string>
			<string>长丰县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>安庆</string>
		<key>city</key>
		<array>
			<string>桐城市</string>
			<string>怀宁县</string>
			<string>岳西县</string>
			<string>潜山县</string>
			<string>宿松县</string>
			<string>太湖县</string>
			<string>迎江区</string>
			<string>宜秀区</string>
			<string>望江县</string>
			<string>大观区</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>亳州</string>
		<key>city</key>
		<array>
			<string>利辛县</string>
			<string>涡阳县</string>
			<string>蒙城县</string>
			<string>谯城区</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>淮南</string>
		<key>city</key>
		<array>
			<string>凤台县</string>
			<string>潘集区</string>
			<string>田家庵区</string>
			<string>大通区</string>
			<string>八公山区</string>
			<string>谢家集区</string>
			<string>寿县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>六安</string>
		<key>city</key>
		<array>
			<string>霍邱县</string>
			<string>舒城县</string>
			<string>金寨县</string>
			<string>裕安区</string>
			<string>金安区</string>
			<string>霍山县</string>
			<string>叶集区</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>阜阳</string>
		<key>city</key>
		<array>
			<string>颍泉区</string>
			<string>颍州区</string>
			<string>颍东区</string>
			<string>界首市</string>
			<string>太和县</string>
			<string>阜南县</string>
			<string>临泉县</string>
			<string>颍上县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>淮北</string>
		<key>city</key>
		<array>
			<string>濉溪县</string>
			<string>相山区</string>
			<string>杜集区</string>
			<string>烈山区</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>芜湖</string>
		<key>city</key>
		<array>
			<string>无为县</string>
			<string>南陵县</string>
			<string>鸠江区</string>
			<string>镜湖区</string>
			<string>弋江区</string>
			<string>芜湖县</string>
			<string>繁昌县</string>
			<string>三山区</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>铜陵</string>
		<key>city</key>
		<array>
			<string>铜官山区</string>
			<string>义安区</string>
			<string>郊区</string>
			<string>枞阳县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>蚌埠</string>
		<key>city</key>
		<array>
			<string>怀远县</string>
			<string>固镇县</string>
			<string>淮上区</string>
			<string>禹会区</string>
			<string>龙子湖区</string>
			<string>五河县</string>
			<string>蚌山区</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>宿州</string>
		<key>city</key>
		<array>
			<string>萧县</string>
			<string>泗县</string>
			<string>灵璧县</string>
			<string>砀山县</string>
			<string>埇桥区</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>池州</string>
		<key>city</key>
		<array>
			<string>青阳县</string>
			<string>贵池区</string>
			<string>东至县</string>
			<string>石台县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>滁州</string>
		<key>city</key>
		<array>
			<string>定远县</string>
			<string>明光市</string>
			<string>凤阳县</string>
			<string>来安县</string>
			<string>天长市</string>
			<string>全椒县</string>
			<string>南谯区</string>
			<string>琅琊区</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>马鞍山</string>
		<key>city</key>
		<array>
			<string>当涂县</string>
			<string>含山县</string>
			<string>和县</string>
			<string>花山区</string>
			<string>雨山区</string>
			<string>博望区</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>宣城</string>
		<key>city</key>
		<array>
			<string>宁国市</string>
			<string>广德县</string>
			<string>郎溪县</string>
			<string>宣州区</string>
			<string>绩溪县</string>
			<string>泾县</string>
			<string>旌德县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>黄山</string>
		<key>city</key>
		<array>
			<string>休宁县</string>
			<string>黄山区</string>
			<string>黟县</string>
			<string>徽州区</string>
			<string>屯溪区</string>
			<string>祁门县</string>
			<string>歙县</string>
		</array>
	</dict>
</array>
</plist>
