<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>shi</key>
		<string>兰州</string>
		<key>city</key>
		<array>
			<string>城关区</string>
			<string>西固区</string>
			<string>安宁区</string>
			<string>红古区</string>
			<string>七里河区</string>
			<string>永登县</string>
			<string>皋兰县</string>
			<string>榆中县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>金昌</string>
		<key>city</key>
		<array>
			<string>金川区</string>
			<string>永昌县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>白银</string>
		<key>city</key>
		<array>
			<string>白银区</string>
			<string>平川区</string>
			<string>靖远县</string>
			<string>会宁县</string>
			<string>景泰县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>天水</string>
		<key>city</key>
		<array>
			<string>秦州区</string>
			<string>麦积区</string>
			<string>清水县</string>
			<string>秦安县</string>
			<string>甘谷县</string>
			<string>武安县</string>
			<string>张家川回族自治县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>武威</string>
		<key>city</key>
		<array>
			<string>凉州区</string>
			<string>民勤县</string>
			<string>古浪县</string>
			<string>天祝藏族自治县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>张掖</string>
		<key>city</key>
		<array>
			<string>甘州区</string>
			<string>民乐县</string>
			<string>临泽县</string>
			<string>高台县</string>
			<string>山丹县</string>
			<string>肃南裕固族自治县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>平凉</string>
		<key>city</key>
		<array>
			<string>崆峒区</string>
			<string>泾川县</string>
			<string>灵台县</string>
			<string>崇信县</string>
			<string>华亭县</string>
			<string>庄浪县</string>
			<string>静宁县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>酒泉</string>
		<key>city</key>
		<array>
			<string>肃州区</string>
			<string>金塔县</string>
			<string>瓜州县</string>
			<string>肃北蒙古族自治县</string>
			<string>阿克塞哈萨克族自治县</string>
			<string>玉门市</string>
			<string>敦煌市</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>庆阳</string>
		<key>city</key>
		<array>
			<string>西峰区</string>
			<string>环县</string>
			<string>宁县</string>
			<string>庆城县</string>
			<string>华池县</string>
			<string>合水县</string>
			<string>正宁县</string>
			<string>镇原县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>定西</string>
		<key>city</key>
		<array>
			<string>安定区</string>
			<string>漳县</string>
			<string>岷县</string>
			<string>通渭县</string>
			<string>陇西县</string>
			<string>渭源县</string>
			<string>临洮县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>陇南</string>
		<key>city</key>
		<array>
			<string>武都区</string>
			<string>成县</string>
			<string>康县</string>
			<string>礼县</string>
			<string>徽县</string>
			<string>文县</string>
			<string>宕昌县</string>
			<string>西和县</string>
			<string>两当县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>临夏</string>
		<key>city</key>
		<array>
			<string>临夏市</string>
			<string>临夏县</string>
			<string>康乐县</string>
			<string>永靖县</string>
			<string>广河县</string>
			<string>和政县</string>
			<string>东乡族自治县</string>
			<string>积石山保安族东乡族撒拉族自治县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>甘南</string>
		<key>city</key>
		<array>
			<string>合作市</string>
			<string>临潭县</string>
			<string>卓尼县</string>
			<string>舟曲县</string>
			<string>迭部县</string>
			<string>玛曲县</string>
			<string>碌曲县</string>
			<string>夏河县</string>
		</array>
	</dict>
</array>
</plist>
