<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>shi</key>
		<string>贵阳</string>
		<key>city</key>
		<array>
			<string>观山湖区</string>
			<string>南明区</string>
			<string>云岩区</string>
			<string>花溪区</string>
			<string>乌当区</string>
			<string>白云区</string>
			<string>开阳县</string>
			<string>息烽县</string>
			<string>修文县</string>
			<string>清镇市</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>六盘水</string>
		<key>city</key>
		<array>
			<string>钟山区</string>
			<string>六枝特区</string>
			<string>水城县</string>
			<string>盘县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>遵义</string>
		<key>city</key>
		<array>
			<string>红花岗区</string>
			<string>汇川区</string>
			<string>播州区</string>
			<string>桐梓县</string>
			<string>绥阳县</string>
			<string>正安县</string>
			<string>道真仡佬族苗族自治县</string>
			<string>务川仡佬族苗族自治县</string>
			<string>凤冈县</string>
			<string>湄潭县</string>
			<string>余庆县</string>
			<string>习水县</string>
			<string>赤水市</string>
			<string>仁怀市</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>安顺</string>
		<key>city</key>
		<array>
			<string>西秀区</string>
			<string>平坝区</string>
			<string>普定县</string>
			<string>镇宁布依族苗族自治县</string>
			<string>关岭布依族苗族自治县</string>
			<string>紫云苗族布依族自治县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>铜仁</string>
		<key>city</key>
		<array>
			<string>碧江区</string>
			<string>万山区</string>
			<string>江口县</string>
			<string>玉屏侗族自治县</string>
			<string>石阡县</string>
			<string>思南县</string>
			<string>印江土家族苗族自治县</string>
			<string>德江县</string>
			<string>沿河土家族自治县</string>
			<string>松桃苗族自治县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>毕节</string>
		<key>city</key>
		<array>
			<string>七星关区</string>
			<string>大方县</string>
			<string>黔西县</string>
			<string>金沙县</string>
			<string>织金县</string>
			<string>纳雍县</string>
			<string>威宁彝族回族苗族自治县</string>
			<string>赫章县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>黔西南</string>
		<key>city</key>
		<array>
			<string>兴义市</string>
			<string>兴仁县</string>
			<string>普安县</string>
			<string>晴隆县</string>
			<string>贞丰县</string>
			<string>望谟县</string>
			<string>册亨县</string>
			<string>安龙县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>黔东南</string>
		<key>city</key>
		<array>
			<string>凯里市</string>
			<string>黄平县</string>
			<string>施秉县</string>
			<string>三穗县</string>
			<string>镇远县</string>
			<string>岑巩县</string>
			<string>天柱县</string>
			<string>锦屏县</string>
			<string>剑河县</string>
			<string>台江县</string>
			<string>黎平县</string>
			<string>榕江县</string>
			<string>从江县</string>
			<string>雷山县</string>
			<string>麻江县</string>
			<string>丹寨县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>黔南</string>
		<key>city</key>
		<array>
			<string>都匀市</string>
			<string>福泉市</string>
			<string>荔波县</string>
			<string>贵定县</string>
			<string>瓮安县</string>
			<string>独山县</string>
			<string>平塘县</string>
			<string>罗甸县</string>
			<string>长顺县</string>
			<string>龙里县</string>
			<string>惠水县</string>
			<string>三都水族自治县</string>
		</array>
	</dict>
</array>
</plist>
