<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>shi</key>
		<string>石家庄</string>
		<key>city</key>
		<array>
			<string>鹿泉区</string>
			<string>井陉矿区</string>
			<string>正定县</string>
			<string>栾城区</string>
			<string>长安区</string>
			<string>赵县</string>
			<string>桥西区</string>
			<string>井陉县</string>
			<string>裕华区</string>
			<string>新华区</string>
			<string>新乐市</string>
			<string>晋州市</string>
			<string>行唐县</string>
			<string>灵寿县</string>
			<string>高邑县</string>
			<string>深泽县</string>
			<string>赞皇县</string>
			<string>无极县</string>
			<string>平山县</string>
			<string>元氏县</string>
			<string>辛集市</string>
			<string>藁城区</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>邯郸</string>
		<key>city</key>
		<array>
			<string>鸡泽县</string>
			<string>永年县</string>
			<string>峰峰矿区</string>
			<string>涉县</string>
			<string>武安市</string>
			<string>磁县</string>
			<string>魏县</string>
			<string>临漳县</string>
			<string>丛台区</string>
			<string>邯郸县</string>
			<string>邯山区</string>
			<string>广平县</string>
			<string>成安县</string>
			<string>肥乡县</string>
			<string>复兴区</string>
			<string>大名县</string>
			<string>邱县</string>
			<string>馆陶县</string>
			<string>曲周县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>保定</string>
		<key>city</key>
		<array>
			<string>定兴县</string>
			<string>易县</string>
			<string>满城区</string>
			<string>徐水区</string>
			<string>清苑区</string>
			<string>定州市</string>
			<string>涿州市</string>
			<string>顺平县</string>
			<string>唐县</string>
			<string>涞水县</string>
			<string>涞源县</string>
			<string>望都县</string>
			<string>高碑店市</string>
			<string>安国市</string>
			<string>蠡县</string>
			<string>博野县</string>
			<string>阜平县</string>
			<string>曲阳县</string>
			<string>容城县</string>
			<string>雄县</string>
			<string>安新县</string>
			<string>高阳县</string>
			<string>莲池区</string>
			<string>竞秀区</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>秦皇岛</string>
		<key>city</key>
		<array>
			<string>山海关区</string>
			<string>北戴河区</string>
			<string>青龙满族自治县</string>
			<string>海港区</string>
			<string>抚宁区</string>
			<string>卢龙县</string>
			<string>昌黎县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>邢台</string>
		<key>city</key>
		<array>
			<string>沙河上</string>
			<string>威县</string>
			<string>南宫市</string>
			<string>巨鹿县</string>
			<string>平乡县</string>
			<string>广宗县</string>
			<string>新和县</string>
			<string>清河县</string>
			<string>临西县</string>
			<string>桥东区</string>
			<string>宁晋县</string>
			<string>临城县</string>
			<string>内丘县</string>
			<string>邢台县</string>
			<string>任县</string>
			<string>南和县</string>
			<string>柏乡县</string>
			<string>隆尧县</string>
			<string>桥西区</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>唐山</string>
		<key>city</key>
		<array>
			<string>开平区</string>
			<string>滦南县</string>
			<string>曹妃甸区</string>
			<string>路北区</string>
			<string>迁西县</string>
			<string>玉田县</string>
			<string>乐亭县</string>
			<string>迁安市</string>
			<string>滦县</string>
			<string>丰南区</string>
			<string>古冶区</string>
			<string>路南区</string>
			<string>丰润区</string>
			<string>遵化市</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>张家口</string>
		<key>city</key>
		<array>
			<string>阳原县</string>
			<string>桥西区</string>
			<string>下花园区</string>
			<string>宣化区</string>
			<string>蔚县</string>
			<string>万全区</string>
			<string>怀安县</string>
			<string>涿鹿县</string>
			<string>怀来县</string>
			<string>崇礼区</string>
			<string>赤城县</string>
			<string>张北县</string>
			<string>康保县</string>
			<string>沽源县</string>
			<string>尚义县</string>
			<string>桥东区</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>衡水</string>
		<key>city</key>
		<array>
			<string>景县</string>
			<string>阜城县</string>
			<string>桃城区</string>
			<string>武邑县</string>
			<string>武强县</string>
			<string>饶阳县</string>
			<string>安平县</string>
			<string>冀州区</string>
			<string>深州市</string>
			<string>枣强县</string>
			<string>故城县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>廊坊</string>
		<key>city</key>
		<array>
			<string>大厂回族自治县</string>
			<string>文安县</string>
			<string>大城县</string>
			<string>香河县</string>
			<string>永清县</string>
			<string>固安县</string>
			<string>三河市</string>
			<string>霸州市</string>
			<string>广阳区</string>
			<string>安次区</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>承德</string>
		<key>city</key>
		<array>
			<string>承德县</string>
			<string>滦平县</string>
			<string>平泉县</string>
			<string>鹰手营子矿区</string>
			<string>双桥区</string>
			<string>双滦区</string>
			<string>宽城满族自治县</string>
			<string>围场满族蒙古族自治县</string>
			<string>隆化县</string>
			<string>丰宁满族自治县</string>
			<string>兴隆县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>沧州</string>
		<key>city</key>
		<array>
			<string>运河区</string>
			<string>孟村回族自治县</string>
			<string>献县</string>
			<string>吴桥县</string>
			<string>南皮县</string>
			<string>肃宁县</string>
			<string>海兴县</string>
			<string>盐山县</string>
			<string>青县</string>
			<string>东光县</string>
			<string>河间市</string>
			<string>沧县</string>
			<string>任丘市</string>
			<string>黄骅市</string>
			<string>泊头市</string>
			<string>新华区</string>
		</array>
	</dict>
</array>
</plist>
