<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>shi</key>
		<string>武汉</string>
		<key>city</key>
		<array>
			<string>洪山区</string>
			<string>江夏区</string>
			<string>新洲区</string>
			<string>江汉区</string>
			<string>东西湖区</string>
			<string>武昌区</string>
			<string>青山区</string>
			<string>汉南区</string>
			<string>蔡甸区</string>
			<string>江岸区</string>
			<string>硚口区</string>
			<string>黄陂区</string>
			<string>汉阳区</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>湖北省</string>
		<key>city</key>
		<array>
			<string>仙桃市</string>
			<string>天门市</string>
			<string>潜江市</string>
			<string>神农架林区</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>孝感</string>
		<key>city</key>
		<array>
			<string>应城市</string>
			<string>安陆市</string>
			<string>云梦县</string>
			<string>大悟县</string>
			<string>孝南区</string>
			<string>汉川市</string>
			<string>孝昌县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>黄冈</string>
		<key>city</key>
		<array>
			<string>蕲春县</string>
			<string>黄梅县</string>
			<string>英山县</string>
			<string>黄州区</string>
			<string>浠水县</string>
			<string>罗田县</string>
			<string>团风县</string>
			<string>武穴市</string>
			<string>红安县</string>
			<string>麻城市</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>黄石</string>
		<key>city</key>
		<array>
			<string>大冶市</string>
			<string>阳新县</string>
			<string>黄石港区</string>
			<string>西塞区</string>
			<string>下陆区</string>
			<string>铁山区</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>宜昌</string>
		<key>city</key>
		<array>
			<string>秭归县</string>
			<string>枝江市</string>
			<string>当阳市</string>
			<string>夷陵区</string>
			<string>长阳土家族自治县</string>
			<string>远安县</string>
			<string>宜都市</string>
			<string>兴山县</string>
			<string>伍家岗区</string>
			<string>点军区</string>
			<string>五峰土家族自治县</string>
			<string>西陵区</string>
			<string>猇亭区</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>随州</string>
		<key>city</key>
		<array>
			<string>广水市</string>
			<string>随县</string>
			<string>曾都区</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>襄阳</string>
		<key>city</key>
		<array>
			<string>谷城县</string>
			<string>枣阳市</string>
			<string>宜城市</string>
			<string>襄州区</string>
			<string>老河口市</string>
			<string>襄城区</string>
			<string>樊城区</string>
			<string>保康县</string>
			<string>南漳县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>荆州</string>
		<key>city</key>
		<array>
			<string>公安县</string>
			<string>石首市</string>
			<string>监利县</string>
			<string>沙市区</string>
			<string>江陵县</string>
			<string>荆州区</string>
			<string>松滋市</string>
			<string>洪湖市</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>十堰</string>
		<key>city</key>
		<array>
			<string>郧西县</string>
			<string>郧阳区</string>
			<string>竹山县</string>
			<string>丹江口市</string>
			<string>竹溪县</string>
			<string>张湾区</string>
			<string>房县</string>
			<string>茅箭区</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>恩施</string>
		<key>city</key>
		<array>
			<string>利川市</string>
			<string>恩施市</string>
			<string>咸丰县</string>
			<string>来凤县</string>
			<string>鹤峰县</string>
			<string>建始县</string>
			<string>巴东县</string>
			<string>宜恩县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>咸宁</string>
		<key>city</key>
		<array>
			<string>崇阳县</string>
			<string>通山县</string>
			<string>嘉鱼县</string>
			<string>赤壁市</string>
			<string>通城县</string>
			<string>咸安区</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>荆门</string>
		<key>city</key>
		<array>
			<string>东宝区</string>
			<string>掇刀区</string>
			<string>京山县</string>
			<string>钟祥市</string>
			<string>沙洋县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>鄂州</string>
		<key>city</key>
		<array>
			<string>鄂城区</string>
			<string>梁子湖区</string>
			<string>华容区</string>
		</array>
	</dict>
</array>
</plist>
