<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>shi</key>
		<string>长沙</string>
		<key>city</key>
		<array>
			<string>长沙县</string>
			<string>芙蓉区</string>
			<string>雨花区</string>
			<string>浏阳市</string>
			<string>天心区</string>
			<string>开福区</string>
			<string>宁乡县</string>
			<string>望城区</string>
			<string>岳麓区</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>益阳</string>
		<key>city</key>
		<array>
			<string>沅江市</string>
			<string>赫山区</string>
			<string>资阳区</string>
			<string>桃江县</string>
			<string>南县</string>
			<string>安化县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>郴州</string>
		<key>city</key>
		<array>
			<string>资兴市</string>
			<string>桂东县</string>
			<string>汝城县</string>
			<string>安仁县</string>
			<string>桂阳县</string>
			<string>永兴县</string>
			<string>宜章县</string>
			<string>嘉禾县</string>
			<string>苏仙区</string>
			<string>北湖区</string>
			<string>临武县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>娄底</string>
		<key>city</key>
		<array>
			<string>涟源市</string>
			<string>双峰县</string>
			<string>新化县</string>
			<string>冷水江市</string>
			<string>娄星区</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>邵阳</string>
		<key>city</key>
		<array>
			<string>洞口县</string>
			<string>大祥区</string>
			<string>北塔区</string>
			<string>城步苗族自治县</string>
			<string>隆回县</string>
			<string>邵东县</string>
			<string>邵阳县</string>
			<string>武冈市</string>
			<string>绥宁县</string>
			<string>新宁县</string>
			<string>新邵县</string>
			<string>双清区</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>衡阳</string>
		<key>city</key>
		<array>
			<string>雁峰区</string>
			<string>珠晖区</string>
			<string>蒸湘区</string>
			<string>石鼓区</string>
			<string>耒阳市</string>
			<string>常宁市</string>
			<string>衡南县</string>
			<string>衡阳县</string>
			<string>衡山县</string>
			<string>衡东县</string>
			<string>祁东县</string>
			<string>南岳区</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>常德</string>
		<key>city</key>
		<array>
			<string>津市市</string>
			<string>汉寿县</string>
			<string>桃源县</string>
			<string>武陵区</string>
			<string>鼎城区</string>
			<string>石门县</string>
			<string>临澧县</string>
			<string>澧县</string>
			<string>安乡县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>株洲</string>
		<key>city</key>
		<array>
			<string>攸县</string>
			<string>醴陵市</string>
			<string>炎陵县</string>
			<string>荷塘区</string>
			<string>石峰区</string>
			<string>株洲县</string>
			<string>芦淞区</string>
			<string>天元区</string>
			<string>茶陵县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>张家界</string>
		<key>city</key>
		<array>
			<string>永定区</string>
			<string>武陵源区</string>
			<string>慈利县</string>
			<string>桑植县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>岳阳</string>
		<key>city</key>
		<array>
			<string>平江县</string>
			<string>华容县</string>
			<string>汨罗市</string>
			<string>临湘市</string>
			<string>君山区</string>
			<string>云溪区</string>
			<string>岳阳楼区</string>
			<string>湘阴县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>湘潭</string>
		<key>city</key>
		<array>
			<string>湘乡市</string>
			<string>韶山市</string>
			<string>湘潭县</string>
			<string>雨湖区</string>
			<string>岳塘区</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>永州</string>
		<key>city</key>
		<array>
			<string>双牌县</string>
			<string>道县</string>
			<string>江华瑶族自治县</string>
			<string>江永县</string>
			<string>冷水滩区</string>
			<string>零陵区</string>
			<string>祁阳县</string>
			<string>东安县</string>
			<string>蓝山县</string>
			<string>宁远县</string>
			<string>新田县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>湘西</string>
		<key>city</key>
		<array>
			<string>龙山县</string>
			<string>吉首市</string>
			<string>泸溪县</string>
			<string>保靖县</string>
			<string>古丈县</string>
			<string>凤凰县</string>
			<string>花垣县</string>
			<string>永顺县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>怀化</string>
		<key>city</key>
		<array>
			<string>新晃侗族自治县</string>
			<string>芷江侗族自治县</string>
			<string>靖州苗族侗族自治县</string>
			<string>会同县</string>
			<string>麻阳苗族自治县</string>
			<string>辰溪县</string>
			<string>洪江市</string>
			<string>中方县</string>
			<string>溆浦县</string>
			<string>沅陵县</string>
			<string>通道侗族自治县</string>
			<string>鹤城区</string>
		</array>
	</dict>
</array>
</plist>
