<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>shi</key>
		<string>南京</string>
		<key>city</key>
		<array>
			<string>玄武区</string>
			<string>鼓楼区</string>
			<string>六合区</string>
			<string>溧水区</string>
			<string>江宁区</string>
			<string>浦口区</string>
			<string>栖霞区</string>
			<string>秦淮区</string>
			<string>建邺区</string>
			<string>高淳区</string>
			<string>雨花台区</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>徐州</string>
		<key>city</key>
		<array>
			<string>云龙区</string>
			<string>铜山区</string>
			<string>泉山区</string>
			<string>贾汪区</string>
			<string>鼓楼区</string>
			<string>丰县</string>
			<string>沛县</string>
			<string>睢宁县</string>
			<string>邳州市</string>
			<string>新沂市</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>无锡</string>
		<key>city</key>
		<array>
			<string>滨湖区</string>
			<string>锡山区</string>
			<string>梁溪区</string>
			<string>新吴区</string>
			<string>惠山区</string>
			<string>江阴市</string>
			<string>宜兴市</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>盐城</string>
		<key>city</key>
		<array>
			<string>亭湖区</string>
			<string>大丰区</string>
			<string>盐都区</string>
			<string>滨海县</string>
			<string>建湖县</string>
			<string>阜宁县</string>
			<string>响水县</string>
			<string>射阳县</string>
			<string>东台市</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>苏州</string>
		<key>city</key>
		<array>
			<string>姑苏区</string>
			<string>吴江区</string>
			<string>相城区</string>
			<string>虎丘区</string>
			<string>吴中区</string>
			<string>太仓市</string>
			<string>常熟市</string>
			<string>昆山市</string>
			<string>张家港市</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>扬州</string>
		<key>city</key>
		<array>
			<string>邗江区</string>
			<string>广陵区</string>
			<string>江都区</string>
			<string>宝应县</string>
			<string>高邮市</string>
			<string>仪征市</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>宿迁</string>
		<key>city</key>
		<array>
			<string>宿豫区</string>
			<string>宿城区</string>
			<string>泗阳县</string>
			<string>沭阳县</string>
			<string>泗洪县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>淮安</string>
		<key>city</key>
		<array>
			<string>淮安区</string>
			<string>淮阴区</string>
			<string>洪泽区</string>
			<string>清江浦区</string>
			<string>涟水县</string>
			<string>盱眙县</string>
			<string>金湖县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>连云港</string>
		<key>city</key>
		<array>
			<string>海州区</string>
			<string>连云区</string>
			<string>赣榆区</string>
			<string>灌南县</string>
			<string>东海县</string>
			<string>灌云县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>南通</string>
		<key>city</key>
		<array>
			<string>崇川区</string>
			<string>港闸区</string>
			<string>通州区</string>
			<string>海安县</string>
			<string>如东县</string>
			<string>海门市</string>
			<string>如皋市</string>
			<string>启东市</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>常州</string>
		<key>city</key>
		<array>
			<string>新北区</string>
			<string>天宁区</string>
			<string>钟楼区</string>
			<string>武进区</string>
			<string>金坛区</string>
			<string>溧阳市</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>泰州</string>
		<key>city</key>
		<array>
			<string>海陵区</string>
			<string>姜堰区</string>
			<string>高港区</string>
			<string>兴化市</string>
			<string>泰兴市</string>
			<string>靖江市</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>镇江</string>
		<key>city</key>
		<array>
			<string>京口区</string>
			<string>润州区</string>
			<string>丹徒区</string>
			<string>句容市</string>
			<string>丹阳市</string>
			<string>扬中市</string>
		</array>
	</dict>
</array>
</plist>
