<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>shi</key>
		<string>南昌</string>
		<key>city</key>
		<array>
			<string>青山湖区</string>
			<string>南昌县</string>
			<string>西湖区</string>
			<string>东湖区</string>
			<string>新建区</string>
			<string>进贤县</string>
			<string>青云谱区</string>
			<string>湾里区</string>
			<string>安义县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>赣州</string>
		<key>city</key>
		<array>
			<string>兴国县</string>
			<string>章贡区</string>
			<string>石城县</string>
			<string>定南县</string>
			<string>瑞金市</string>
			<string>安远县</string>
			<string>信丰县</string>
			<string>崇义县</string>
			<string>上犹县</string>
			<string>全南县</string>
			<string>赣县</string>
			<string>南康区</string>
			<string>寻乌县</string>
			<string>宁都县</string>
			<string>于都县</string>
			<string>龙南县</string>
			<string>会昌县</string>
			<string>大余县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>九江</string>
		<key>city</key>
		<array>
			<string>武宁县</string>
			<string>九江县</string>
			<string>彭泽县</string>
			<string>庐山区</string>
			<string>瑞昌市</string>
			<string>浔阳区</string>
			<string>湖口县</string>
			<string>都昌县</string>
			<string>永修县</string>
			<string>修水县</string>
			<string>庐山市</string>
			<string>德安县</string>
			<string>共青城市</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>萍乡</string>
		<key>city</key>
		<array>
			<string>湘东区</string>
			<string>安源区</string>
			<string>上栗县</string>
			<string>莲花县</string>
			<string>芦溪县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>吉安</string>
		<key>city</key>
		<array>
			<string>万安县</string>
			<string>吉州区</string>
			<string>吉安县</string>
			<string>吉水县</string>
			<string>峡江县</string>
			<string>青原区</string>
			<string>泰和县</string>
			<string>遂川县</string>
			<string>新干县</string>
			<string>永丰县</string>
			<string>永新县</string>
			<string>安福县</string>
			<string>井冈山市</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>景德镇</string>
		<key>city</key>
		<array>
			<string>浮梁县</string>
			<string>乐平市</string>
			<string>珠山区</string>
			<string>昌江区</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>鹰潭</string>
		<key>city</key>
		<array>
			<string>贵溪市</string>
			<string>余江县</string>
			<string>月湖区</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>抚州</string>
		<key>city</key>
		<array>
			<string>南丰县</string>
			<string>南城县</string>
			<string>临川区</string>
			<string>宜黄县</string>
			<string>乐安县</string>
			<string>崇仁县</string>
			<string>广昌县</string>
			<string>东乡县</string>
			<string>资溪县</string>
			<string>金溪县</string>
			<string>黎川县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>新余</string>
		<key>city</key>
		<array>
			<string>渝水区</string>
			<string>分宜县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>宜春</string>
		<key>city</key>
		<array>
			<string>高安市</string>
			<string>奉新县</string>
			<string>丰城市</string>
			<string>樟树市</string>
			<string>宜丰县</string>
			<string>靖安县</string>
			<string>万载县</string>
			<string>上高县</string>
			<string>铜鼓县</string>
			<string>袁州区</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>上饶</string>
		<key>city</key>
		<array>
			<string>上饶县</string>
			<string>德兴市</string>
			<string>信州区</string>
			<string>玉山县</string>
			<string>铅山县</string>
			<string>横峰县</string>
			<string>弋阳县</string>
			<string>余干县</string>
			<string>鄱阳县</string>
			<string>万年县</string>
			<string>婺源县</string>
			<string>广丰区</string>
		</array>
	</dict>
</array>
</plist>
