<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>shi</key>
		<string>长春</string>
		<key>city</key>
		<array>
			<string>南关区</string>
			<string>宽城区</string>
			<string>双阳区</string>
			<string>朝阳区</string>
			<string>绿园区</string>
			<string>二道区</string>
			<string>九台区</string>
			<string>农安县</string>
			<string>德惠市</string>
			<string>榆树市</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>吉林</string>
		<key>city</key>
		<array>
			<string>船营区</string>
			<string>龙潭区</string>
			<string>昌邑区</string>
			<string>丰满区</string>
			<string>永吉县</string>
			<string>舒兰市</string>
			<string>桦甸市</string>
			<string>蛟河市</string>
			<string>磐石市</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>辽源</string>
		<key>city</key>
		<array>
			<string>龙山区</string>
			<string>西安区</string>
			<string>东丰县</string>
			<string>东辽县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>四平</string>
		<key>city</key>
		<array>
			<string>铁西区</string>
			<string>铁东区</string>
			<string>梨树县</string>
			<string>伊通满族自治县</string>
			<string>双辽市</string>
			<string>公主岭市</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>白山</string>
		<key>city</key>
		<array>
			<string>浑江区</string>
			<string>江源区</string>
			<string>靖宇县</string>
			<string>抚松县</string>
			<string>长白朝鲜族自治县</string>
			<string>临江市</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>通化</string>
		<key>city</key>
		<array>
			<string>东昌区</string>
			<string>二道江区</string>
			<string>柳河县</string>
			<string>通化县</string>
			<string>辉南县</string>
			<string>集安市</string>
			<string>梅河口市</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>松原</string>
		<key>city</key>
		<array>
			<string>宁江区</string>
			<string>长岭县</string>
			<string>乾安县</string>
			<string>前郭尔罗斯蒙古族自治县</string>
			<string>扶余市</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>白城</string>
		<key>city</key>
		<array>
			<string>洮北区</string>
			<string>通榆县</string>
			<string>镇赉县</string>
			<string>大安市</string>
			<string>洮南市</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>延边</string>
		<key>city</key>
		<array>
			<string>延吉市</string>
			<string>敦化市</string>
			<string>珲春市</string>
			<string>龙井市</string>
			<string>和龙市</string>
			<string>图们市</string>
			<string>汪清县</string>
			<string>安图县</string>
		</array>
	</dict>
</array>
</plist>
