<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>shi</key>
		<string>呼和浩特</string>
		<key>city</key>
		<array>
			<string>新城区</string>
			<string>回民区</string>
			<string>玉泉区</string>
			<string>赛罕区</string>
			<string>武川县</string>
			<string>托克托县</string>
			<string>清水河县</string>
			<string>和林格尔县</string>
			<string>土默特左旗</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>包头</string>
		<key>city</key>
		<array>
			<string>昆都仑区</string>
			<string>东河区</string>
			<string>青山区</string>
			<string>石拐区</string>
			<string>九原区</string>
			<string>白云鄂博矿区</string>
			<string>固阳县</string>
			<string>土默特右旗</string>
			<string>达尔罕茂明安联合旗</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>乌海</string>
		<key>city</key>
		<array>
			<string>海勃湾区</string>
			<string>海南区</string>
			<string>乌达区</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>赤峰</string>
		<key>city</key>
		<array>
			<string>松山区</string>
			<string>红山区</string>
			<string>元宝山区</string>
			<string>林西县</string>
			<string>宁城县</string>
			<string>敖汉旗</string>
			<string>巴林左旗</string>
			<string>巴林右旗</string>
			<string>翁牛特旗</string>
			<string>喀喇沁旗</string>
			<string>克什克腾旗</string>
			<string>阿鲁科尔沁旗</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>通辽</string>
		<key>city</key>
		<array>
			<string>科尔沁区</string>
			<string>开鲁县</string>
			<string>库伦旗</string>
			<string>奈曼旗</string>
			<string>扎鲁特旗</string>
			<string>科尔沁左翼中旗</string>
			<string>科尔沁左翼后旗</string>
			<string>霍林郭勒市</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>鄂尔多斯</string>
		<key>city</key>
		<array>
			<string>康巴什区</string>
			<string>东胜区</string>
			<string>杭锦旗</string>
			<string>乌审旗</string>
			<string>达拉特旗</string>
			<string>准格尔旗</string>
			<string>鄂托克旗</string>
			<string>鄂托克前旗</string>
			<string>伊金霍洛旗</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>呼伦贝尔</string>
		<key>city</key>
		<array>
			<string>海拉尔区</string>
			<string>扎赉诺尔区</string>
			<string>阿荣旗</string>
			<string>陈巴尔虎旗</string>
			<string>新巴尔虎左旗</string>
			<string>新巴尔虎右旗</string>
			<string>鄂伦春自治旗</string>
			<string>鄂温克族自治旗</string>
			<string>莫力达瓦达斡尔族自治旗</string>
			<string>根河市</string>
			<string>满洲里市</string>
			<string>牙克石市</string>
			<string>扎兰屯市</string>
			<string>额尔古纳市</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>巴彦淖尔</string>
		<key>city</key>
		<array>
			<string>临河区</string>
			<string>五原县</string>
			<string>磴口县</string>
			<string>杭锦后旗</string>
			<string>乌拉特前旗</string>
			<string>乌拉特中旗</string>
			<string>乌拉特后旗</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>乌兰察布</string>
		<key>city</key>
		<array>
			<string>集宁区</string>
			<string>卓资县</string>
			<string>化德县</string>
			<string>商都县</string>
			<string>兴和县</string>
			<string>凉城县</string>
			<string>四子王旗</string>
			<string>察哈尔右翼前旗</string>
			<string>察哈尔右翼中旗</string>
			<string>察哈尔右翼后旗</string>
			<string>丰镇市</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>兴安盟</string>
		<key>city</key>
		<array>
			<string>乌兰浩特市</string>
			<string>阿尔山市</string>
			<string>突泉县</string>
			<string>扎赉特旗</string>
			<string>科尔沁右翼前旗</string>
			<string>科尔沁右翼中旗</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>锡林郭勒盟</string>
		<key>city</key>
		<array>
			<string>锡林浩特市</string>
			<string>二连浩特市</string>
			<string>多伦县</string>
			<string>镶黄旗</string>
			<string>正蓝旗</string>
			<string>正镶白旗</string>
			<string>阿巴嘎旗</string>
			<string>太仆寺旗</string>
			<string>苏尼特左旗</string>
			<string>苏尼特右旗</string>
			<string>东乌珠穆沁旗</string>
			<string>西乌珠穆沁旗</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>阿拉善盟</string>
		<key>city</key>
		<array>
			<string>阿拉善左旗</string>
			<string>阿拉善右旗</string>
			<string>额济纳旗</string>
		</array>
	</dict>
</array>
</plist>
