<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>shi</key>
		<string>西宁</string>
		<key>city</key>
		<array>
			<string>城中区</string>
			<string>城东区</string>
			<string>城西区</string>
			<string>城北区</string>
			<string>湟中县</string>
			<string>湟源县</string>
			<string>大通回族土族自治县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>海东</string>
		<key>city</key>
		<array>
			<string>乐都区</string>
			<string>平安区</string>
			<string>互助土族自治县</string>
			<string>化隆回族自治县</string>
			<string>循化撒拉族自治县</string>
			<string>民和回族土族自治县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>海北</string>
		<key>city</key>
		<array>
			<string>海晏县</string>
			<string>祁连县</string>
			<string>刚察县</string>
			<string>门源回族自治县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>黄南</string>
		<key>city</key>
		<array>
			<string>同仁县</string>
			<string>尖扎县</string>
			<string>泽库县</string>
			<string>河南蒙古族自治县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>海南州</string>
		<key>city</key>
		<array>
			<string>共和县</string>
			<string>同德县</string>
			<string>贵德县</string>
			<string>兴海县</string>
			<string>贵南县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>果洛</string>
		<key>city</key>
		<array>
			<string>玛沁县</string>
			<string>班玛县</string>
			<string>甘德县</string>
			<string>达日县</string>
			<string>久治县</string>
			<string>玛多县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>玉树</string>
		<key>city</key>
		<array>
			<string>玉树市</string>
			<string>杂多县</string>
			<string>称多县</string>
			<string>治多县</string>
			<string>囊谦县</string>
			<string>曲麻莱县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>海西</string>
		<key>city</key>
		<array>
			<string>德令哈市</string>
			<string>格尔木市</string>
			<string>乌兰县</string>
			<string>都兰县</string>
			<string>天峻县</string>
		</array>
	</dict>
</array>
</plist>
