<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>shi</key>
		<string>太原</string>
		<key>city</key>
		<array>
			<string>杏花岭区</string>
			<string>小店区</string>
			<string>晋源区</string>
			<string>迎泽区</string>
			<string>万柏林区</string>
			<string>尖草坪区</string>
			<string>阳曲县</string>
			<string>清徐县</string>
			<string>娄烦县</string>
			<string>古交市</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>大同</string>
		<key>city</key>
		<array>
			<string>城区</string>
			<string>矿区</string>
			<string>新荣区</string>
			<string>南郊区</string>
			<string>左云县</string>
			<string>阳高县</string>
			<string>灵丘县</string>
			<string>浑源县</string>
			<string>天镇县</string>
			<string>大同县</string>
			<string>广灵县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>阳泉</string>
		<key>city</key>
		<array>
			<string>城区</string>
			<string>郊区</string>
			<string>矿区</string>
			<string>盂县</string>
			<string>平定县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>长治</string>
		<key>city</key>
		<array>
			<string>城区</string>
			<string>郊区</string>
			<string>沁县</string>
			<string>武乡县</string>
			<string>长子县</string>
			<string>壶关县</string>
			<string>黎城县</string>
			<string>平顺县</string>
			<string>屯留县</string>
			<string>襄垣县</string>
			<string>长治县</string>
			<string>沁源县</string>
			<string>潞城市</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>忻州</string>
		<key>city</key>
		<array>
			<string>忻府区</string>
			<string>代县</string>
			<string>繁峙县</string>
			<string>保德县</string>
			<string>五台县</string>
			<string>定襄县</string>
			<string>静乐县</string>
			<string>五寨县</string>
			<string>神池县</string>
			<string>河曲县</string>
			<string>岢岚县</string>
			<string>偏关县</string>
			<string>宁武县</string>
			<string>原平市</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>晋中</string>
		<key>city</key>
		<array>
			<string>榆次区</string>
			<string>祁县</string>
			<string>左权县</string>
			<string>灵石县</string>
			<string>平遥县</string>
			<string>榆社县</string>
			<string>太谷县</string>
			<string>寿阳县</string>
			<string>昔阳县</string>
			<string>和顺县</string>
			<string>介休市</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>临汾</string>
		<key>city</key>
		<array>
			<string>尧都区</string>
			<string>古县</string>
			<string>吉县</string>
			<string>蒲县</string>
			<string>隰县</string>
			<string>洪洞县</string>
			<string>襄汾县</string>
			<string>翼城县</string>
			<string>曲沃县</string>
			<string>安泽县</string>
			<string>浮山县</string>
			<string>乡宁县</string>
			<string>大宁县</string>
			<string>永和县</string>
			<string>汾西县</string>
			<string>霍州市</string>
			<string>侯马市</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>朔州</string>
		<key>city</key>
		<array>
			<string>朔城区</string>
			<string>平鲁区</string>
			<string>应县</string>
			<string>右玉县</string>
			<string>山阴县</string>
			<string>怀仁县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>晋城</string>
		<key>city</key>
		<array>
			<string>城区</string>
			<string>陵川县</string>
			<string>阳城县</string>
			<string>沁水县</string>
			<string>泽州县</string>
			<string>高平市</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>运城</string>
		<key>city</key>
		<array>
			<string>盐湖区</string>
			<string>夏县</string>
			<string>绛县</string>
			<string>新绛县</string>
			<string>芮城县</string>
			<string>平陆县</string>
			<string>闻喜县</string>
			<string>稷山县</string>
			<string>临猗县</string>
			<string>垣曲县</string>
			<string>万荣县</string>
			<string>河津市</string>
			<string>永济市</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>吕梁</string>
		<key>city</key>
		<array>
			<string>离石区</string>
			<string>临县</string>
			<string>岚县</string>
			<string>兴县</string>
			<string>中阳县</string>
			<string>文水县</string>
			<string>交口县</string>
			<string>柳林县</string>
			<string>方山县</string>
			<string>石楼县</string>
			<string>交城县</string>
			<string>孝义市</string>
			<string>汾阳市</string>
		</array>
	</dict>
</array>
</plist>
