<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>shi</key>
		<string>成都</string>
		<key>city</key>
		<array>
			<string>锦江区</string>
			<string>青羊区</string>
			<string>金牛区</string>
			<string>武侯区</string>
			<string>成华区</string>
			<string>龙泉驿区</string>
			<string>青白江区</string>
			<string>新都区</string>
			<string>温江区</string>
			<string>金堂县</string>
			<string>双流区</string>
			<string>郫县</string>
			<string>大邑县</string>
			<string>蒲江县</string>
			<string>新津县</string>
			<string>都江堰市</string>
			<string>彭州市</string>
			<string>崇州市</string>
			<string>邛崃市</string>
			<string>简阳市</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>自贡</string>
		<key>city</key>
		<array>
			<string>自流井区</string>
			<string>贡井区</string>
			<string>大安区</string>
			<string>沿滩区</string>
			<string>荣县</string>
			<string>富顺县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>攀枝花</string>
		<key>city</key>
		<array>
			<string>东区</string>
			<string>西区</string>
			<string>仁和区</string>
			<string>米易县</string>
			<string>盐边县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>泸州</string>
		<key>city</key>
		<array>
			<string>江阳区</string>
			<string>纳溪区</string>
			<string>龙马潭区</string>
			<string>泸县</string>
			<string>合江县</string>
			<string>叙永县</string>
			<string>古蔺县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>德阳</string>
		<key>city</key>
		<array>
			<string>旌阳区</string>
			<string>中江县</string>
			<string>罗江县</string>
			<string>广汉市</string>
			<string>什邡市</string>
			<string>绵竹市</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>绵阳</string>
		<key>city</key>
		<array>
			<string>涪城区</string>
			<string>游仙区</string>
			<string>三台县</string>
			<string>盐亭县</string>
			<string>安县</string>
			<string>梓潼县</string>
			<string>北川羌族自治县</string>
			<string>平武县</string>
			<string>江油市</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>广元</string>
		<key>city</key>
		<array>
			<string>利州区</string>
			<string>元坝区</string>
			<string>朝天区</string>
			<string>旺苍县</string>
			<string>青川县</string>
			<string>剑阁县</string>
			<string>苍溪县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>遂宁</string>
		<key>city</key>
		<array>
			<string>船山区</string>
			<string>安居区</string>
			<string>蓬溪县</string>
			<string>射洪县</string>
			<string>大英县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>内江</string>
		<key>city</key>
		<array>
			<string>市中区</string>
			<string>东兴区</string>
			<string>威远县</string>
			<string>资中县</string>
			<string>隆昌县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>乐山</string>
		<key>city</key>
		<array>
			<string>市中区</string>
			<string>沙湾区</string>
			<string>五通桥区</string>
			<string>金口河区</string>
			<string>犍为县</string>
			<string>井研县</string>
			<string>夹江县</string>
			<string>沐川县</string>
			<string>峨边彝族自治县</string>
			<string>马边彝族自治县</string>
			<string>峨眉山市</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>南充</string>
		<key>city</key>
		<array>
			<string>顺庆区</string>
			<string>高坪区</string>
			<string>嘉陵区</string>
			<string>南部县</string>
			<string>营山县</string>
			<string>蓬安县</string>
			<string>仪陇县</string>
			<string>西充县</string>
			<string>阆中市</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>宜宾</string>
		<key>city</key>
		<array>
			<string>翠屏区</string>
			<string>南溪区</string>
			<string>宜宾县</string>
			<string>江安县</string>
			<string>长宁县</string>
			<string>高县</string>
			<string>筠连县</string>
			<string>珙县</string>
			<string>兴文县</string>
			<string>屏山县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>广安</string>
		<key>city</key>
		<array>
			<string>前锋区</string>
			<string>广安区</string>
			<string>岳池县</string>
			<string>武胜县</string>
			<string>邻水县</string>
			<string>华蓥市</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>达州</string>
		<key>city</key>
		<array>
			<string>达川区</string>
			<string>通川区</string>
			<string>宣汉县</string>
			<string>开江县</string>
			<string>大竹县</string>
			<string>渠县</string>
			<string>万源市</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>眉山</string>
		<key>city</key>
		<array>
			<string>东坡区</string>
			<string>仁寿县</string>
			<string>彭山区</string>
			<string>洪雅县</string>
			<string>丹棱县</string>
			<string>青神县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>雅安</string>
		<key>city</key>
		<array>
			<string>雨城区</string>
			<string>名山区</string>
			<string>荥经县</string>
			<string>汉源县</string>
			<string>石棉县</string>
			<string>天全县</string>
			<string>芦山县</string>
			<string>宝兴县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>巴中</string>
		<key>city</key>
		<array>
			<string>恩阳区</string>
			<string>巴州区</string>
			<string>通江县</string>
			<string>南江县</string>
			<string>平昌县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>资阳</string>
		<key>city</key>
		<array>
			<string>雁江区</string>
			<string>安岳县</string>
			<string>乐至县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>阿坝</string>
		<key>city</key>
		<array>
			<string>汶川县</string>
			<string>理县</string>
			<string>茂县</string>
			<string>松潘县</string>
			<string>九寨沟县</string>
			<string>金川县</string>
			<string>小金县</string>
			<string>黑水县</string>
			<string>马尔康县</string>
			<string>壤塘县</string>
			<string>阿坝县</string>
			<string>若尔盖县</string>
			<string>红原县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>甘孜</string>
		<key>city</key>
		<array>
			<string>康定市</string>
			<string>泸定县</string>
			<string>丹巴县</string>
			<string>九龙县</string>
			<string>雅江县</string>
			<string>道孚县</string>
			<string>炉霍县</string>
			<string>甘孜县</string>
			<string>新龙县</string>
			<string>德格县</string>
			<string>白玉县</string>
			<string>石渠县</string>
			<string>色达县</string>
			<string>理塘县</string>
			<string>巴塘县</string>
			<string>乡城县</string>
			<string>稻城县</string>
			<string>得荣县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>凉山</string>
		<key>city</key>
		<array>
			<string>西昌市</string>
			<string>木里藏族自治县</string>
			<string>盐源县</string>
			<string>德昌县</string>
			<string>会理县</string>
			<string>会东县</string>
			<string>宁南县</string>
			<string>普格县</string>
			<string>布托县</string>
			<string>金阳县</string>
			<string>昭觉县</string>
			<string>喜德县</string>
			<string>冕宁县</string>
			<string>越西县</string>
			<string>甘洛县</string>
			<string>美姑县</string>
			<string>雷波县</string>
		</array>
	</dict>
</array>
</plist>
