<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>shi</key>
		<string>昆明</string>
		<key>city</key>
		<array>
			<string>寻甸回族彝族自治县</string>
			<string>五华区</string>
			<string>盘龙区</string>
			<string>官渡区</string>
			<string>西山区</string>
			<string>东川区</string>
			<string>呈贡区</string>
			<string>晋宁县</string>
			<string>富民县</string>
			<string>宜良县</string>
			<string>石林彝族自治县</string>
			<string>嵩明县</string>
			<string>禄劝彝族苗族自治县</string>
			<string>安宁市</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>曲靖</string>
		<key>city</key>
		<array>
			<string>麒麟区</string>
			<string>马龙县</string>
			<string>陆良县</string>
			<string>师宗县</string>
			<string>罗平县</string>
			<string>富源县</string>
			<string>会泽县</string>
			<string>沾益县</string>
			<string>宣威市</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>玉溪</string>
		<key>city</key>
		<array>
			<string>红塔区</string>
			<string>江川县</string>
			<string>澄江县</string>
			<string>通海县</string>
			<string>华宁县</string>
			<string>易门县</string>
			<string>峨山彝族自治县</string>
			<string>新平彝族傣族自治县</string>
			<string>元江哈尼族彝族傣族自治县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>保山</string>
		<key>city</key>
		<array>
			<string>隆阳区</string>
			<string>施甸县</string>
			<string>腾冲市</string>
			<string>龙陵县</string>
			<string>昌宁县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>昭通</string>
		<key>city</key>
		<array>
			<string>昭阳区</string>
			<string>鲁甸县</string>
			<string>巧家县</string>
			<string>盐津县</string>
			<string>大关县</string>
			<string>永善县</string>
			<string>绥江县</string>
			<string>镇雄县</string>
			<string>彝良县</string>
			<string>威信县</string>
			<string>水富县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>丽江</string>
		<key>city</key>
		<array>
			<string>古城区</string>
			<string>玉龙纳西族自治县</string>
			<string>永胜县</string>
			<string>华坪县</string>
			<string>宁蒗彝族自治县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>普洱</string>
		<key>city</key>
		<array>
			<string>思茅区</string>
			<string>宁洱哈尼族彝族自治县</string>
			<string>墨江哈尼族自治县</string>
			<string>景东彝族自治县</string>
			<string>景谷傣族彝族自治县</string>
			<string>镇沅彝族哈尼族拉祜族自治县</string>
			<string>江城哈尼族彝族自治县</string>
			<string>孟连傣族拉祜族佤族自治县</string>
			<string>澜沧拉祜族自治县</string>
			<string>西盟佤族自治县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>临沧</string>
		<key>city</key>
		<array>
			<string>临翔区</string>
			<string>凤庆县</string>
			<string>云县</string>
			<string>永德县</string>
			<string>镇康县</string>
			<string>双江拉祜族佤族布朗族傣族自治县 </string>
			<string>耿马傣族佤族自治县</string>
			<string>沧源佤族自治县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>文山</string>
		<key>city</key>
		<array>
			<string>文山市</string>
			<string>砚山县</string>
			<string>西畴县</string>
			<string>麻栗坡县</string>
			<string>马关县</string>
			<string>丘北县</string>
			<string>广南县</string>
			<string>富宁县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>红河</string>
		<key>city</key>
		<array>
			<string>个旧市</string>
			<string>开远市</string>
			<string>蒙自市</string>
			<string>屏边苗族自治县</string>
			<string>建水县</string>
			<string>石屏县</string>
			<string>弥勒市</string>
			<string>泸西县</string>
			<string>元阳县</string>
			<string>红河县</string>
			<string>金平苗族瑶族傣族自治县</string>
			<string>绿春县</string>
			<string>河口瑶族自治县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>西双版纳</string>
		<key>city</key>
		<array>
			<string>景洪市</string>
			<string>勐海县</string>
			<string>勐腊县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>楚雄</string>
		<key>city</key>
		<array>
			<string>楚雄市</string>
			<string>双柏县</string>
			<string>牟定县</string>
			<string>南华县</string>
			<string>姚安县</string>
			<string>大姚县</string>
			<string>永仁县</string>
			<string>元谋县</string>
			<string>武定县</string>
			<string>禄丰县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>大理</string>
		<key>city</key>
		<array>
			<string>漾濞彝族自治县</string>
			<string>大理市</string>
			<string>祥云县</string>
			<string>宾川县</string>
			<string>弥渡县</string>
			<string>南涧彝族自治县</string>
			<string>巍山彝族回族自治县</string>
			<string>永平县</string>
			<string>云龙县</string>
			<string>洱源县</string>
			<string>剑川县</string>
			<string>鹤庆县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>德宏</string>
		<key>city</key>
		<array>
			<string>瑞丽市</string>
			<string>芒市</string>
			<string>梁河县</string>
			<string>盈江县</string>
			<string>陇川县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>怒江</string>
		<key>city</key>
		<array>
			<string>泸水县</string>
			<string>福贡县</string>
			<string>贡山独龙族怒族自治县</string>
			<string>兰坪白族普米族自治县</string>
		</array>
	</dict>
	<dict>
		<key>shi</key>
		<string>迪庆</string>
		<key>city</key>
		<array>
			<string>德钦县</string>
			<string>香格里拉市</string>
			<string>维西傈僳族自治县</string>
		</array>
	</dict>
</array>
</plist>
