<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>prov</key>
		<string>亚足联</string>
		<key>city</key>
		<array>
			<string>韩国</string>
			<string>日本</string>
			<string>澳大利亚</string>
			<string>乌兹别克斯坦</string>
			<string>沙特阿拉伯</string>
			<string>伊朗</string>
		</array>
	</dict>
	<dict>
		<key>prov</key>
		<string>欧足联</string>
		<key>city</key>
		<array>
			<string>德国</string>
			<string>意大利</string>
			<string>法国</string>
			<string>西班牙</string>
			<string>英格兰</string>
			<string>苏格兰</string>
			<string>威尔士</string>
			<string>北爱尔兰</string>
			<string>荷兰</string>
			<string>葡萄牙</string>
			<string>瑞典</string>
			<string>丹麦</string>
			<string>冰岛</string>
			<string>波兰</string>
			<string>匈牙利</string>
			<string>捷克</string>
			<string>斯洛伐克</string>
			<string>瑞士</string>
			<string>罗马尼亚</string>
			<string>奥地利</string>
			<string>希腊</string>
			<string>塞尔维亚</string>
			<string>克罗地亚</string>
			<string>波黑</string>
			<string>阿尔巴尼亚</string>
			<string>俄罗斯</string>
			<string>乌克兰</string>
			<string>白俄罗斯</string>
			<string>爱尔兰</string>
			<string>比利时</string>
			<string>土耳其</string>
		</array>
	</dict>
	<dict>
		<key>prov</key>
		<string>非足联</string>
		<key>city</key>
		<array>
			<string>阿尔及利亚</string>
			<string>喀麦隆</string>
			<string>刚果(布)</string>
			<string>刚果(金)</string>
			<string>科特迪瓦</string>
			<string>埃及</string>
			<string>加纳</string>
			<string>几内亚</string>
			<string>马里</string>
			<string>摩洛哥</string>
			<string>尼日利亚</string>
			<string>塞内加尔</string>
			<string>南非</string>
			<string>突尼斯</string>
		</array>
	</dict>
	<dict>
		<key>prov</key>
		<string>中北美足联</string>
		<key>city</key>
		<array>
			<string>墨西哥</string>
			<string>美国</string>
			<string>哥斯达黎加</string>
			<string>巴拿马</string>
		</array>
	</dict>
	<dict>
		<key>prov</key>
		<string>大洋足联</string>
		<key>city</key>
		<array/>
	</dict>
	<dict>
		<key>prov</key>
		<string>南美足联</string>
		<key>city</key>
		<array>
			<string>巴西</string>
			<string>阿根廷</string>
			<string>乌拉圭</string>
			<string>巴拉圭</string>
			<string>智利</string>
			<string>哥伦比亚</string>
			<string>厄瓜多尔</string>
			<string>委内瑞拉</string>
			<string>秘鲁</string>
		</array>
	</dict>
</array>
</plist>
