<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>prov</key>
		<string>亚足联</string>
		<key>city</key>
		<array>
			<dict>
				<key>country</key>
				<string>🇰🇷韩国</string>
				<key>level</key>
				<string>39</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇦🇺澳大利亚</string>
				<key>level</key>
				<string>54</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇺🇿乌兹别克斯坦</string>
				<key>level</key>
				<string>63</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇸🇦沙特阿拉伯</string>
				<key>level</key>
				<string>56</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇮🇷伊朗</string>
				<key>level</key>
				<string>32</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇨🇳中国</string>
				<key>level</key>
				<string>52</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>prov</key>
		<string>欧足联</string>
		<key>city</key>
		<array>
			<dict>
				<key>country</key>
				<string>🇩🇪德国</string>
				<key>level</key>
				<string>3</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇮🇹意大利</string>
				<key>level</key>
				<string>15</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇫🇷法国</string>
				<key>level</key>
				<string>6</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇪🇸西班牙</string>
				<key>level</key>
				<string>10</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇬🇧英格兰</string>
				<key>level</key>
				<string>13</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇬🇧威尔士</string>
				<key>level</key>
				<string>12</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇬🇧北爱尔兰</string>
				<key>level</key>
				<string>35</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇳🇱荷兰</string>
				<key>level</key>
				<string>21</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇵🇹葡萄牙</string>
				<key>level</key>
				<string>8</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇸🇪瑞典</string>
				<key>level</key>
				<string>44</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇩🇰丹麦</string>
				<key>level</key>
				<string>49</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇮🇸冰岛</string>
				<key>level</key>
				<string>20</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇵🇱波兰</string>
				<key>level</key>
				<string>14</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇭🇺匈牙利</string>
				<key>level</key>
				<string>27</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇨🇿捷克</string>
				<key>level</key>
				<string>46</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇸🇰斯洛伐克</string>
				<key>level</key>
				<string>26</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇨🇭瑞士</string>
				<key>level</key>
				<string>11</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇷🇴罗马尼亚</string>
				<key>level</key>
				<string>40</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇦🇹奥地利</string>
				<key>level</key>
				<string>34</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇬🇷希腊</string>
				<key>level</key>
				<string>43</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇷🇸塞尔维亚</string>
				<key>level</key>
				<string>51</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇭🇷克罗地亚</string>
				<key>level</key>
				<string>16</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇧🇦波黑</string>
				<key>level</key>
				<string>28</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇦🇱阿尔巴尼亚</string>
				<key>level</key>
				<string>55</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇷🇺俄罗斯</string>
				<key>level</key>
				<string>61</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇺🇦乌克兰</string>
				<key>level</key>
				<string>30</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇮🇪爱尔兰</string>
				<key>level</key>
				<string>25</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇧🇪比利时</string>
				<key>level</key>
				<string>5</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇹🇷土耳其</string>
				<key>level</key>
				<string>24</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇲🇪黑山</string>
				<key>level</key>
				<string>64</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇮🇱以色列</string>
				<key>level</key>
				<string>60</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇸🇮斯洛文尼亚</string>
				<key>level</key>
				<string>57</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>prov</key>
		<string>非足联</string>
		<key>city</key>
		<array>
			<dict>
				<key>country</key>
				<string>🇩🇿阿尔及利亚</string>
				<key>level</key>
				<string>50</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇨🇲喀麦隆</string>
				<key>level</key>
				<string>33</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇨🇩刚果(金)</string>
				<key>level</key>
				<string>37</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇨🇮科特迪瓦</string>
				<key>level</key>
				<string>47</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇪🇬埃及</string>
				<key>level</key>
				<string>23</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇬🇭加纳</string>
				<key>level</key>
				<string>45</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇲🇱马里</string>
				<key>level</key>
				<string>58</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇲🇦摩洛哥</string>
				<key>level</key>
				<string>48</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇳🇬尼日利亚</string>
				<key>level</key>
				<string>41</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇸🇳塞内加尔</string>
				<key>level</key>
				<string>31</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇿🇦南非</string>
				<key>level</key>
				<string>62</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇹🇳突尼斯</string>
				<key>level</key>
				<string>36</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇧🇫布基纳法索</string>
				<key>level</key>
				<string>38</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>prov</key>
		<string>中北美足联</string>
		<key>city</key>
		<array>
			<dict>
				<key>country</key>
				<string>🇲🇽墨西哥</string>
				<key>level</key>
				<string>17</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇺🇸美国</string>
				<key>level</key>
				<string>29</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇨🇷哥斯达黎加</string>
				<key>level</key>
				<string>19</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇵🇦巴拿马</string>
				<key>level</key>
				<string>53</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>prov</key>
		<string>南美足联</string>
		<key>city</key>
		<array>
			<dict>
				<key>country</key>
				<string>🇧🇷巴西</string>
				<key>level</key>
				<string>2</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇦🇷阿根廷</string>
				<key>level</key>
				<string>1</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇺🇾乌拉圭</string>
				<key>level</key>
				<string>9</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇵🇾巴拉圭</string>
				<key>level</key>
				<string>42</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇨🇱智利</string>
				<key>level</key>
				<string>4</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇨🇴哥伦比亚</string>
				<key>level</key>
				<string>7</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇪🇨厄瓜多尔</string>
				<key>level</key>
				<string>22</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇻🇪委内瑞拉</string>
				<key>level</key>
				<string>59</string>
			</dict>
			<dict>
				<key>country</key>
				<string>🇵🇪秘鲁</string>
				<key>level</key>
				<string>18</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
